$grey1: #67809f;
$grey2: #526781;
$grey3: #999aa2;
$grey4: #333645;
$green1: #2ecc71;
$green2: #25a25a;
$blue1: #4183d7;
$blue2: #286abd;
$purple1: #926fb1;
$purple2: #79539a;
$red1: #d64541;
$red2: #bc2c28;
$red3: #f62459;
$red4: #de093f;
$orange1: #ce4125;
$orange2: #a3331d;
$yellow1: #f7b322;
